body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff8f0;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background: #fdcb05;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}
header h1{
    padding: 10px;
}
header img{
    height: 80px;
    width: 70px;
    padding: 10px;
    margin-top: 10px;
}

main {
    display: flex;
    gap: 30px;
    padding: 20px;
}

section {
    flex: 1;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.menu-grid {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    overflow-y: scroll;

}

.menu-item {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s;
}

.menu-item:hover {
    transform: scale(1.05);
    background: #ffe680;
}

.menu-item img {
    width: 100%;
    height: 180px;
    object-fit:fill;
    border-radius: 8px;
}

.cartTotal{
    height: 40px;
}

#cartItems p {
    font-size: 1.2rem;
}

#checkoutBtn {
    width: 100%;
    padding: 15px;
    background: #05a82b;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#checkoutBtn:hover {
    background: #218838;
}

.add-items{
    margin-left:150px;
    display: flex;
    height: 30px;
    width: 102px;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sub{
    border-radius: 10%;
    height: 20px;
    width: 28px;
    border: 1px solid black;
    text-align: center;
}
.add{
    border-radius: 10%;
    height: 20px;
    width: 28px;
    border: 1px solid black;
    text-align: center;
}

.sub:hover{
    background-color: rgb(245, 39, 39);
}
.add:hover{
    background-color:rgb(10, 177, 10);
}
.top{
    margin-top: 180px;
    text-align: center;
    color: darkgreen;
}
.ord{
    text-align: center;
    color: #28a745;
}
.back{
    height: 50px;
    width: 130px;
    margin-top: 25px;
    margin-left: 45%;
    padding: 10px;
    background-color: #e2f10d;
    border-radius: 15%;
    box-shadow: 5px 5px 5px black;
}

.order-slip{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}